* {outline:none; box-sizing:border-box}
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:1236px}

body {min-width:1236px; margin:0; padding:0; font:16px/28px Montserrat, sans-serif; color:#333; background:#fff; -webkit-text-size-adjust:100%}

a {color:#333}
a:hover {color:#ee64a4}

img {border:none; max-width:100%}

h1 {font:64px/71px Merriweather, serif; margin:0; padding:17px 0 0 0}
h2 {font:36px/46px Merriweather, serif; margin:67px 0 44px 0; padding:0}
p {margin:28px 0; padding:0}
ul {margin:28px 0; padding:0; list-style:none}
ul li {margin:0; padding:0 0 0 33px; position:relative}
ul li::before {content:""; display:block; width:8px; height:8px; position:absolute; left:0; top:10px; background:#ee64a4; border-radius:50%}

form {margin:0; padding:0}

.form-row {margin:12px 0}
.form-row-2 {margin:24px 0}
.form-row::after {content:""; display:block; clear:both}

::-ms-clear {display:none}

.form-input {position:relative; background:#f3f3f5; border-radius:8px; border:1px solid #f3f3f5}
.form-input:hover {border-color:#d7d7e0}
.form-input.focus {background:#fff; border-color:#d7d7e0}
.form-input.error {border-color:#ee64a4}
.form-input .form-input-label {position:absolute; left:40px; top:18px; opacity:0.5; transition:all .2s}
.form-input.focus .form-input-label {top:3px; font-size:11px; line-height:32px; color:#8e8e93; opacity:0.7}

.form-input input,
.form-input textarea {position:relative; border:none; font:16px/26px Montserrat, sans-serif; color:#333; vertical-align:top; margin:0; padding:25px 39px 11px 39px; width:100%; height:64px; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.form-input textarea {height:192px; resize:none; overflow:auto}
.form-input label.error {display:none !important}

.form-select select {position:relative; border:none; font:16px/26px Montserrat, sans-serif; color:#333; vertical-align:top; margin:0; padding:25px 39px 11px 39px; width:100%; height:64px; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.form-select label.error {display:none !important}

.form-file {margin:6px 0}
.form-file::after {content:""; display:block; clear:both}
.form-file-input {float:left; display:none; width:240px; height:54px; font-weight:600; text-transform:uppercase; background:url(../images/blank.gif); text-align:left; position:relative; overflow:hidden; font-size:14px; line-height:50px; cursor:pointer; color:#ee64a4; border:2px solid #ee64a4; border-radius:27px; text-align:center; transition:all 0.2s}
.form-file:last-child .form-file-input {display:block}
.form-file:nth-child(2) .form-file-input {margin:-30px 0 0 0}
.form-file:nth-child(3) .form-file-input {margin:-54px 0 0 0}
.form-file:nth-child(4) .form-file-input {margin:-78px 0 0 0}
.form-file:nth-child(5) .form-file-input {margin:-102px 0 0 0}
.form-file:nth-child(6) .form-file-input {margin:-126px 0 0 0}
.form-file:nth-child(7) .form-file-input {margin:-150px 0 0 0}
.form-file:nth-child(8) .form-file-input {margin:-174px 0 0 0}
.form-file:nth-child(9) .form-file-input {margin:-198px 0 0 0}
.form-file-input:hover {background:#ee64a4; color:#fff}
.form-file-input svg {display:inline-block; vertical-align:middle; margin:-2px 18px 0 0; transition:all 0.2s}
.form-file-input:hover path {fill:#fff}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.form-file-input label.error {display:none !important}
.form-file-name {margin:0 0 0 265px; color:#919191; font-size:14px; line-height:18px; position:relative}
.form-file:first-child .form-file-name {padding-top:6px}
.form-file-name-text {padding:0 0 0 26px}
.form-file-name-text:empty+.form-file-name-remove {display:none}
.form-file-name-remove {position:absolute; left:0; top:1px; width:16px; height:16px; background:url(../images/form-file-name-remove.svg)}
.form-file:first-child .form-file-name-remove {top:7px}

.form-ctrl {margin:40px 0 0 0}
.form-ctrl::after {content:""; display:block; clear:both}

.form-submit {float:left; width:240px}
.form-submit input {display:block; vertical-align:top; border-radius:27px; background:#ee64a4; margin:0; padding:0; outline:none; overflow:visible; border:none; width:100%; height:54px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:600 14px/54px Montserrat, sans-serif; letter-spacing:0; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.form-submit input:hover {background:#e1488f}

.form-policy {margin:0 0 0 265px; font-size:11px; line-height:16px; color:rgba(51, 51, 51, 0.7); padding:4px 0 0 0}
.form-policy a {color:#ee64a4; text-decoration:none}
.form-policy a:hover {color:#e1488f}

.wrapper {position:relative; min-width:1236px; width:100%; overflow:hidden}

.container {padding:0 16px; max-width:1236px; margin:0 auto}
.container::after {content:""; display:block; clear:both}

.top {height:80px; position:relative; z-index:1}
.top::before {content:""; display:block; position:absolute; left:0; bottom:-1px; right:0; height:1px; background:#8e8e93; opacity:0.5028}

.header-logo {float:left; margin:0 0 0 -36px; position:relative; width:230px; height:80px}
.header-logo-inner {position:absolute; left:-1px; top:0; right:-1px; padding:24px 0 31px 0; background:#fff; border:1px solid #e2e2e3; border-top:none; border-radius:0 0 8px 8px}

.logo {position:relative; width:145px; height:172px; background:url(../images/logo.png); margin:0 auto}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

nav {float:left; font-weight:600; font-size:12px; line-height:15px; text-transform:uppercase; letter-spacing:0.4px}
nav ul {margin:0; padding:0; list-style:none}
nav ul li {float:left; margin:0 0 0 63px; padding:33px 0 0 0}
nav ul li::before {display:none}
nav ul li a {text-decoration:none}

.header-search-link {float:right; margin:19px 0 0 0}
.header-search-link a {display:block; position:relative; width:40px; height:40px; border:2px solid #ee64a4; background:#ee64a4 url(../images/header-search.svg) no-repeat center; border-radius:50%; transition:background-color 0.2s, border-color 0.2s}
.header-search-link a:hover {background-color:#e1488f; border-color:#e1488f}
.header-search-link a::after {content:""; display:block; width:12px; height:12px; position:absolute; left:50%; top:50%; margin:-6px 0 0 -6px; background:url(../images/header-search-open.svg); opacity:0; transition:all 0.2s}
.search-open .header-search-link a {background:#fff; border-color:#ee64a4}
.search-open .header-search-link a::after {opacity:1}

.header-phone {float:right; font-weight:500; line-height:40px; margin:19px 64px 0 0}
.header-phone a {color:#ee64a4; text-decoration:none}

.header-main {height:720px; background:no-repeat center; background-size:cover; position:relative}
.header-main h1 {max-width:650px; padding:232px 0 0 0}
.header-main-link {padding:42px 0 0 0}
.header-main-link a {display:block; width:262px; position:relative; height:54px; color:#fff; text-transform:uppercase; background:#ee64a4; text-decoration:none; font-size:14px; font-weight:600; line-height:54px; border-radius:27px; padding:0 0 0 28px; transition:all 0.2s}
.header-main-link a:hover {background:#e1488f}
.header-main-link a::after {content:""; display:block; width:14px; height:11px; position:absolute; right:29px; top:21px; background:url(../images/header-main-link.svg); transition:all 0.2s}
.header-main-link a:hover::after {right:21px}

.header-inner {height:426px; background:#f3f3f5 no-repeat center; background-size:cover; position:relative}
.header-inner-count {font-size:14px; padding:13px 0 0 0; line-height:18px; opacity:0.87}
.header-inner-404 {height:738px; padding:230px 0 0 0}

.breadcrumbs {font-size:14px; color:rgba(0, 0, 0, 0.4549); line-height:18px; padding:178px 0 0 0}
.breadcrumbs a {color:rgba(0, 0, 0, 0.4549); text-decoration:none}
.breadcrumbs a:hover {color:#333; text-decoration:underline}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:5px; height:5px; border-radius:50%; margin:-2px 16px 0 16px; background:#3b3b3b; opacity:0.2074}

.header-search {display:none; position:absolute; left:0; top:0; right:0; height:426px; background:#f3f3f5}
.header-search.active::after {content:""; display:block; width:98px; height:98px; z-index:9999; background:url(../images/search-loading.svg); position:absolute; left:50%; bottom:-199px; margin:0 0 0 -49px; animation:circle 1s ease infinite}
@keyframes circle {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.search-open .wrapper {overflow:visible}
.search-open .header-search {display:block}
.search-open .header-main {background:#fff !important}
.search-open .header-main h1,
.search-open .header-main-link,
.search-open .header-inner-count {display:none}
.search-open .header-inner {background:#fff !important}
.search-open .text-404 {display:none}

.header-search-form {padding:20px 0 0 0}
.header-search-form form {margin:0; padding:0}
.header-search-input input {position:relative; border:none; font:64px/71px Merriweather, sans-serif; color:#333; vertical-align:top; margin:0; padding:0; width:100%; height:71px; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.header-search-input input::-webkit-input-placeholder {opacity:1; color:rgba(51, 51, 51, 0.5)}
.header-search-input input::-moz-placeholder {opacity:1; color:rgba(51, 51, 51, 0.5)}
.header-search-input input:-ms-input-placeholder {opacity:1; color:rgba(51, 51, 51, 0.5)}
.header-search-count {font-size:14px; line-height:18px; color:#333; opacity:0.87; padding:13px 0 0 0}
.header-search-results {display:none; position:absolute; left:0; top:426px; right:0; background:rgba(255, 255, 255, 0.98); z-index:999; border-bottom:1px solid #c6c6c9}
.header-search-results-inner .catalogue-sections-item {width:25%}
.header-search-results-inner .catalogue-sections-list-inner {padding-top:23px}

.main {padding:29px 0 0 0}
.main::before {content:""; display:block; width:24px; height:29px; background:url(../images/main-arrow.svg); margin:0 auto}
.main-pretitle {text-align:center; text-transform:uppercase; opacity:0.54; color:#868692; font-weight:600; padding:37px 0 0 0}
.main-title {text-align:center; font:48px/64px Merriweather, serif; padding:19px 0 0 0}

.catalogue-top-sections {border-bottom:1px solid #c6c6c9; text-transform:uppercase; font-weight:500; font-size:12px; line-height:15px; padding:37px 0 36px 0; letter-spacing:0.4px}
.catalogue-top-sections ul {margin:0; padding:0; list-style:none}
.catalogue-top-sections ul::after {content:""; display:block; clear:both}
.catalogue-top-sections ul li {float:left; margin:0 0 0 40px; padding:0}
.catalogue-top-sections ul li::before {display:none}
.catalogue-top-sections ul li:first-child {margin:0}
.catalogue-top-sections ul li a {text-decoration:none}
.catalogue-top-sections ul li.active {position:relative; font-weight:bold}
.catalogue-top-sections ul li.active::after {content:""; display:block; position:absolute; left:0; bottom:-36px; right:0; height:4px; background:#ee64a4}
.catalogue-top-sections ul li.active a {color:#ee64a4}

.catalogue {margin:0 -22px; font-size:0; line-height:0; letter-spacing:-1px}
.catalogue-item {display:inline-block; vertical-align:top; width:33.33%; padding:22px}
.catalogue-item-wide {width:66.66%}
.catalogue-item a {display:block; text-decoration:none; color:#333}
.catalogue-item a+a {margin-top:44px}
.catalogue-item-preview {position:relative; overflow:hidden}
.catalogue-item-preview img {display:block; width:100%; transition:all 0.2s}
.catalogue-item a:hover .catalogue-item-preview img {transform:scale(1.1)}
.catalogue-item-title {font-weight:500; font-size:16px; line-height:22px; letter-spacing:0; margin:17px 0 0 0; position:relative; padding:0 30px 0 0}
.catalogue-item-title::after {content:""; display:block; width:14px; height:12px; position:absolute; right:8px; top:4px; background:url(../images/catalogue-arrow.svg); transition:all 0.2s}
.catalogue-item a:hover .catalogue-item-title::after {right:0}

.catalogue-section {padding:23px 0 0 0}
.catalogue-section::after {content:""; display:block; clear:both}

.catalogue-side {float:left; width:268px}

.catalogue-side-menu {border:10px solid #f3f3f5; padding:18px 18px 48px 18px}
.catalogue-side-group {margin:24px 0 0 0}
.catalogue-side-group-title {border-bottom:2px solid #fafafb; font-weight:600; font-size:12px; line-height:15px; letter-spacing:0.4px; text-transform:uppercase; padding:0 9px 4px 9px}
.catalogue-side-group-title.active {position:relative}
.catalogue-side-group-title.active::after {content:""; display:block; position:absolute; left:-28px; top:-7px; bottom:-2px; width:10px; background:#ee64a4; border:3px solid #fff}
.catalogue-side-group-all .catalogue-side-group-title {border-bottom-width:4px}
.catalogue-side-group-title a {text-decoration:none}
.catalogue-side-group-title.active a {color:#ee64a4}
.catalogue-side-group-count {color:#ee64a4; font-weight:normal; position:relative; top:-5px}
.catalogue-side-group-list {font-size:12px; line-height:16px; opacity:0.7; margin:11px 0 8px 0}
.catalogue-side-group-list ul {margin:0; padding:0; list-style:none}
.catalogue-side-group-list ul li {margin:16px 0; padding:0 9px; position:relative}
.catalogue-side-group-list ul li.active::after {content:""; display:block; position:absolute; left:-28px; top:-7px; bottom:-2px; width:10px; background:#ee64a4; border:3px solid #fff}
.catalogue-side-group-list ul li::before {display:none}
.catalogue-side-group-list a {text-decoration:none}
.catalogue-side-group-list ul li.active a {color:#ee64a4}

.catalogue-side-prefs {margin:52px 0 0 0; background:#f3f3f5; text-align:center; padding:0 30px 62px 30px}
.catalogue-side-prefs-title {font:36px/46px Merriweather, serif; padding:47px 0 0 0; margin:0 0 39px 0}
.catalogue-side-pref {font-size:14px; line-height:20px; color:rgba(51, 51, 51, 0.87); margin:28px 0 0 0}
.catalogue-side-pref::before {content:""; display:block; width:44px; height:33px; background:url(../images/catalogue-side-prefs.png); margin:0 auto 32px auto}

.catalogue-side+.catalogue-sections-list {margin:0 0 0 312px}
.catalogue-sections-list-inner {margin:0 -22px; font-size:0; line-height:0; letter-spacing:-1px}
.catalogue-sections-item {display:inline-block; vertical-align:top; width:33.33%; padding:0 22px 28px 22px}
.catalogue-sections-item a {display:block; text-decoration:none; color:#333}
.catalogue-sections-item-preview {position:relative}
.catalogue-sections-item-preview img {display:block; width:100%}
.catalogue-sections-item-new {position:absolute; left:0; top:0; width:88px; height:88px; background:url(../images/catalogue-section-new.png)}
.catalogue-sections-item-detail {position:absolute; left:11px; top:11px; right:11px; bottom:11px; padding:15px 4px 0 20px; background:rgba(255, 255, 255, 0.97); opacity:0; transition:all 0.2s}
.catalogue-sections-item-detail-big {padding:57px 52px 0 70px}
.catalogue-sections-item a:hover .catalogue-sections-item-detail {opacity:1}
.catalogue-sections-item-detail-prop {font-size:12px; font-weight:500; line-height:15px; color:rgba(51, 51, 51, 0.87); margin:6px 0; letter-spacing:0.2px}
.catalogue-sections-item-detail-text {font-size:12px; font-weight:500; line-height:18px; color:rgba(51, 51, 51, 0.87); max-height:54px; position:relative; overflow:hidden; letter-spacing:0.4px; margin:15px 0 0 0}
.catalogue-sections-item-detail-link {position:relative; text-transform:uppercase; color:#ee64a4; font-size:12px; font-weight:500; line-height:15px; letter-spacing:0.4px; margin:21px 0 0 0}
.catalogue-sections-item-detail-link::after {content:""; display:block; width:14px; height:12px; position:absolute; right:19px; top:2px; background:url(../images/catalogue-arrow.svg); transition:all 0.2s}
.catalogue-sections-item a:hover .catalogue-sections-item-detail-link::after {right:11px}
.catalogue-sections-item-title {font-weight:500; font-size:16px; line-height:22px; letter-spacing:0; margin:12px 0 0 0; min-height:44px}
.catalogue-sections-more {text-align:center; padding:2px 0 0 0}
.catalogue-sections-more a {display:inline-block; vertical-align:top; width:240px; height:54px; text-decoration:none; color:#fff; font-size:14px; font-weight:600; line-height:54px; border-radius:27px; text-align:center; background:#ee64a4; transition:all 0.2s; text-transform:uppercase}
.catalogue-sections-more a:hover {background:#e1488f}

.catalogue-detail {border:1px solid #f3f3f5; width:874px; margin:23px auto 0 auto; border-radius:2px; padding:42px 45px 59px 44px}
.catalogue-detail::after {content:""; display:block; clear:both}
.catalogue-detail-photo {float:left; width:371px; padding:6px 0 0 0; line-height:0}
.catalogue-detail-photo img {width:100%}
.catalogue-detail-info {float:right; width:371px}
.catalogue-detail-title {font:26px/34px Merriweather, serif}
.catalogue-detail-props {display:table; width:100%; font-size:12px; line-height:15px; letter-spacing:0.2px; margin:11px 0 0 0}
.catalogue-detail-prop {display:table-row}
.catalogue-detail-prop-name {display:table-cell; vertical-align:top; border-bottom:1px solid #f3f3f5; padding:7px 0 1px 0; color:rgba(102, 98, 92, 0.57)}
.catalogue-detail-prop-value {display:table-cell; vertical-align:top; border-bottom:1px solid #f3f3f5; padding:7px 0 1px 44px; color:#66625c}
.catalogue-detail-descr {margin:26px 0 0 0}

.main-postavshik {background:#f3f3f5; text-align:center}
.main-postavshik-top {text-transform:uppercase; font-weight:600; font-size:16px; line-height:19px; letter-spacing:0; color:#868692; opacity:0.54; padding:65px 0 0 0}
.main-postavshik-title {font:48px/64px Merriweather, serif; letter-spacing:0; background:url(../images/main-postavshik.png) no-repeat center top; padding:20px 0 62px 0; margin:55px 0 0 0}
.main-postavshik-pref {font-size:16px; line-height:26px; letter-spacing:0; padding:0 0 7px 0}
.main-postavshik-link {padding:56px 0 88px 0}
.main-postavshik-link a {display:inline-block; vertical-align:top; width:294px; position:relative; text-align:left; height:54px; color:#fff; text-transform:uppercase; background:#ee64a4; text-decoration:none; font-size:14px; font-weight:600; line-height:54px; letter-spacing:0; border-radius:27px; padding:0 0 0 28px; transition:all 0.2s}
.main-postavshik-link a:hover {background:#e1488f}
.main-postavshik-link a::after {content:""; display:block; width:14px; height:11px; position:absolute; right:29px; top:21px; background:url(../images/header-main-link.svg); transition:all 0.2s}
.main-postavshik-link a:hover::after {right:21px}

.page-ctrl {border-top:1px solid #c6c6c9; margin:72px 0 0 0; font-size:14px; line-height:72px}
.page-ctrl::after {content:""; display:block; clear:both}

.pager {float:left; padding:4px 0 0 0}
.pager a {float:left; width:53px; height:72px; text-align:center; color:rgba(51, 51, 51, 0.87); text-decoration:none}
.pager a:hover {color:#e1488f}
.pager a.active {font-weight:bold; position:relative; color:#ee64a4}
.pager a.active::after {content:""; display:block; position:absolute; left:0; top:-4px; right:0; height:4px; background:#ee64a4}
.pager a.pager-next {width:auto; margin:0 0 0 55px; padding:0 30px 0 0; position:relative}
.pager a.pager-next::after {content:""; display:block; width:14px; height:12px; position:absolute; right:0; top:31px; background:url(../images/catalogue-arrow.svg); transition:all 0.2s}
.pager a.pager-next:hover::after {right:-8px}
.pager a.pager-prev {width:auto; margin:0 55px 0 0; padding:0 0 0 30px; position:relative}
.pager a.pager-prev::after {content:""; display:block; width:14px; height:12px; position:absolute; left:0; top:31px; background:url(../images/catalogue-arrow.svg); transform:rotate(180deg); transition:all 0.2s}
.pager a.pager-prev:hover::after {left:-8px}

.page-size {float:right; padding:4px 0 0 0}
.page-size-title {float:left; color:rgba(51, 51, 51, 0.87); margin:0 17px 0 0}
.page-size a {float:left; width:53px; height:72px; text-align:center; color:rgba(51, 51, 51, 0.87); text-decoration:none}
.page-size a:hover {color:#e1488f}
.page-size a.active {font-weight:bold; position:relative; color:#ee64a4}
.page-size a.active::after {content:""; display:block; position:absolute; left:0; top:-4px; right:0; height:4px; background:#ee64a4}

.about-1::after {content:""; display:block; clear:both}
.about-1-photo {float:right; width:349px; line-height:0}
.about-1-photo img {max-width:none}
.about-1-text {float:left; width:calc(100% - 349px)}

.about-2::after {content:""; display:block; clear:both}
.about-2-photo {float:left; width:722px; line-height:0; margin:0 0 0 -177px}
.about-2-photo img {max-width:none}
.about-2-text {float:right; width:566px; margin:-168px 0 0 0}
.about-2-text .header-main-link {padding:69px 0 0 0}

.about-3::after {content:""; display:block; clear:both}
.about-3-photo {float:right; width:657px; line-height:0; padding:161px 0 0 0}
.about-3-photo img {max-width:none}
.about-3-text {float:left; width:519px; padding:30px 0 0 0}

.about-4::after {content:""; display:block; clear:both}
.about-4-photo {float:left; width:721px; line-height:0; margin:104px 0 0 -124px}
.about-4-photo img {max-width:none}
.about-4-text {float:right; width:580px; margin:69px 0 0 0}
.about-4-text .header-main-link {padding:69px 0 0 0}
.about-4-text .header-main-link a {width:312px}

.news-main {margin:0 -22px}
.news-main::after {content:""; display:block; clear:both}
.news-main-photo {float:left; width:50%; padding:71px 22px 0 22px; line-height:0}
.news-main-photo img {width:100%}
.news-main-text {float:left; width:50%; padding:0 22px; margin:-8px 0 0 0}
.news-main-date {color:rgba(51, 51, 51, 0.4); font-size:12px; font-weight:500; letter-spacing:0.4px; margin:-26px 0 28px 0}
.news-main-anonce {margin:28px 0; max-height:224px; position:relative; overflow:hidden}
.news-main-anonce-more {margin:28px 0}
.news-main-anonce-more a {display:inline-block; text-decoration:none; position:relative; padding:0 30px 0 0; color:rgba(58, 58, 58, 0.54); font-size:14px; line-height:18px; transition:all 0.2s}
.news-main-anonce-more a::after {content:""; display:block; width:14px; height:12px; position:absolute; right:0; top:4px; background:url(../images/catalogue-arrow.svg); transition:all 0.2s}
.news-main-anonce-more a:hover {color:#e1488f}
.news-main-anonce-more a:hover::after {right:-8px}

.news-list {margin:67px -22px 0 -22px; font-size:0; line-height:0; letter-spacing:-1px}
.news-list-item {display:inline-block; vertical-align:top; width:25%; padding:0 22px 28px 22px}
.news-list-item a {display:block; text-decoration:none; color:#333}
.news-list-item-preview {position:relative; overflow:hidden}
.news-list-item-preview img {display:block; height:166px; max-width:none}
.news-list-item-detail {position:absolute; left:11px; top:11px; right:11px; bottom:11px; padding:4px 4px 0 20px; background:rgba(255, 255, 255, 0.97); opacity:0; transition:all 0.2s}
.news-list-item a:hover .news-list-item-detail {opacity:1}
.news-list-item-detail-text {font-size:12px; font-weight:500; line-height:18px; color:rgba(51, 51, 51, 0.87); max-height:72px; position:relative; overflow:hidden; letter-spacing:0.4px; margin:15px 0 0 0}
.news-list-item-detail-link {position:relative; text-transform:uppercase; color:#ee64a4; font-size:12px; font-weight:500; line-height:15px; letter-spacing:0.4px; margin:21px 0 0 0}
.news-list-item-detail-link::after {content:""; display:block; width:14px; height:12px; position:absolute; right:19px; top:2px; background:url(../images/catalogue-arrow.svg); transition:all 0.2s}
.news-list-item a:hover .news-list-item-detail-link::after {right:11px}
.news-list-item-title {font-weight:500; font-size:16px; line-height:22px; letter-spacing:0; margin:12px 0 0 0}
.news-list-item-date {font-weight:500; font-size:12px; line-height:15px; letter-spacing:0; margin:12px 0 0 0; opacity:0.44}
.news-list-more {text-align:center; padding:22px 0 0 0}
.news-list-more a {display:inline-block; vertical-align:top; width:240px; height:54px; text-decoration:none; color:#fff; font-size:14px; font-weight:600; line-height:54px; border-radius:27px; text-align:center; background:#ee64a4; transition:all 0.2s; text-transform:uppercase}
.news-list-more a:hover {background:#e1488f}

.news-detail {margin:24px auto 0 auto; width:874px; border:1px solid #f3f3f5; padding:35px 45px 70px 45px}
.news-detail-photo {line-height:0}
.news-detail-photo img {width:100%}
.news-detail-text {padding:0 105px}
.news-detail-text h2 {margin-top:38px}

.distrib-top::after {content:""; display:block; clear:both}
.distrib-top-text {float:left; width:726px}
.distrib-top-contacts {float:right; width:372px; margin:47px 0 0 0; padding:0 30px 34px 30px; position:relative; background:#f3f3f5; text-align:center; position:relative}
.distrib-top-contacts::before {content:""; display:block; position:absolute; left:18px; top:-16px; width:108px; height:83px; background:url(../images/distrib-top-contacts.svg)}
.distrib-top-contacts::after {content:""; display:block; position:absolute; left:58px; top:8px; width:24px; height:24px; background:url(../images/distrib-top-contacts-phone.svg)}
.distrib-top-contacts-title {font:26px/34px Merriweather, serif; color:rgba(0, 0, 0, 0.78); padding:36px 0 0 0}
.distrib-top-contacts-subtitle {text-transform:uppercase; font-size:12px; line-height:15px; font-weight:500; color:#868692; margin:28px 0; letter-spacing:0.4px}
.distrib-top-contacts-phone {font-size:18px; line-height:22px; margin:10px 0; font-weight:500}
.distrib-top-contacts-phone a {text-decoration:none}
.distrib-top-contacts-phone a:hover {color:#e1488f}

.distrib-prefs {margin:103px -22px 0 -22px}
.distrib-prefs::after {content:""; display:block; clear:both}
.distrib-pref {float:left; width:25%; padding:0 22px}
.distrib-pref-icon {line-height:0}
.distrib-pref-title {font:26px/34px Merriweather, serif; color:rgba(0, 0, 0, 0.78); margin:15px 0 0 0}
.distrib-pref-text {margin:33px 0 0 0}

.distrib-digits {margin:88px 0 0 0; background:url(../images/feedback.png) repeat-y center; padding:86px 0 64px 0}
.distrib-digits-inner {margin:0 -22px}
.distrib-digits-inner::after {content:""; display:block; clear:both}
.distrib-digits-item {float:left; width:33.33%; padding:0 22px}
.distrib-digits-item-inner {height:82px; background:#fff; border-radius:4px; text-align:center}
.distrib-digits-item-number {display:inline-block; vertical-align:top; color:#ee64a4; font:122px/139px Domine, serif; margin:-43px 0 0 0}
.distrib-digits-item-text {display:inline-block; vertical-align:top; font-weight:500; font-size:14px; line-height:18px; text-transform:uppercase; margin:14px 0 0 9px; text-align:left}

.distrib-map {padding:15px 0 0 0}
.distrib-map::after {content:""; display:block; clear:both}

.distrib-map-scheme {float:left; width:684px; position:relative; height:504px; margin:77px 0 0 0; background:url(../images/distrib-map-scheme.png) no-repeat right top}
.distrib-map-scheme-point {position:absolute}
.distrib-map-scheme-point::after {content:""; display:block; left:50%; top:50%; width:8px; height:8px; margin:-4px 0 0 -4px; background:#ee64a4; border-radius:50%}
.distrib-map-scheme-point.active::after,
.distrib-map-scheme-point:hover::after {border:6px solid #ee64a4; width:20px; height:20px; margin:-10px 0 0 -10px; background:#fff}

.distrib-map-content {float:right; width:476px}
.distrib-map-menu {border-bottom:1px solid #c6c6c9; text-transform:uppercase; font-weight:500; font-size:12px; line-height:15px; padding:6px 0 27px 0; letter-spacing:0.4px}
.distrib-map-menu ul {margin:0; padding:0; list-style:none}
.distrib-map-menu ul::after {content:""; display:block; clear:both}
.distrib-map-menu ul li {float:left; margin:0 0 0 40px; padding:0}
.distrib-map-menu ul li::before {display:none}
.distrib-map-menu ul li:first-child {margin:0}
.distrib-map-menu ul li a {text-decoration:none}
.distrib-map-menu ul li.active {position:relative; font-weight:bold}
.distrib-map-menu ul li.active::after {content:""; display:block; position:absolute; left:0; bottom:-27px; right:0; height:4px; background:#ee64a4}
.distrib-map-menu ul li.active a {color:#ee64a4}
.distrib-map-tabs {position:relative; border-bottom:1px solid rgba(142, 142, 147, 0.5); padding:11px 0}
.distrib-map-tab {position:absolute; left:-9999px; top:-9999px; width:100%; font-size:12px; line-height:22px}
.distrib-map-tab.active {position:relative; left:auto; top:auto}
.distrib-map-tab-list {position:relative; height:225px; overflow:auto}
.distrib-map-list-item {cursor:pointer}
.distrib-map-list-item:hover,
.distrib-map-list-item.hover {color:#e1488f}
.distrib-map-list-item.active {color:#ee64a4}

.postavshik-list {margin:0 -22px}
.postavshik-list::after {content:""; display:block; clear:both}
.postavshik-item {float:left; width:25%; padding:0 22px}
.postavshik-item ul {margin:0}

.contacts-list {margin:70px -22px 0 -22px}
.contacts-list::after {content:""; display:block; clear:both}
.contacts-item {float:left; width:25%; padding:0 22px}
.contacts-item-title {font:26px/34px Merriweather, serif; color:rgba(0, 0, 0, 0.78); margin:0 0 36px 0}
.contacts-phone {padding:2px 0 0 49px; position:relative; margin:6px 0 0 0}
.contacts-phone::before {content:""; display:block; position:absolute; left:0; top:0; width:32px; height:32px; background:url(../images/footer-phone.svg)}
.contacts-email {padding:2px 0 0 49px; position:relative; margin:6px 0 0 0}
.contacts-email::before {content:""; display:block; position:absolute; left:0; top:0; width:32px; height:32px; background:url(../images/footer-email.svg)}
.contacts-item a {text-decoration:none}

.contacts-map {max-width:1800px; margin:76px 0 0 0; position:relative}
#map {height:696px}
.contacts-map-inner {position:absolute; left:0; top:0; right:0; height:0}
.contacts-map-block {position:relative; width:476px; background:#fff; border:10px solid #f3f3f5; top:109px; padding:21px 50px 37px 50px}
.contacts-map-block h2 {margin:40px 0 26px 0}
.contacts-map-block p {margin:26px 0}

.contacts-personal {max-width:892px; margin:53px 0 0 0}
.contacts-personal a {text-decoration:none; color:#ee64a4}
.contacts-personal a:hover {color:#e1488f}

.text-404 {margin:47px 0 0 0}
.header-main-link-404 a {width:276px}

.feedback {margin:93px 0 0 0; background:url(../images/feedback.png) repeat-y center; padding:68px 0 80px 0}
.feedback-title {float:left; font:36px/54px Merriweather, serif; padding:14px 0 0 0}

.feedback-theme {float:left; margin:14px 0 0 63px}
.feedback-theme-title {float:left; width:346px; height:54px; border-radius:27px; background:#fff; border:1px solid #fff; position:relative}
.feedback-theme-title.open {border-color:#d7d7e0; border-radius:27px 27px 0 0}
.feedback-theme-title-value {cursor:pointer; font-size:14px; line-height:52px; position:relative; padding:0 50px 0 40px; white-space:nowrap; position:relative; overflow:hidden; text-overflow:ellipsis}
.feedback-theme-title-value::after {content:""; display:block; width:12px; height:15px; position:absolute; right:28px; top:20px; background:url(../images/feedback-arrow.svg)}
.feedback-theme-title.open .feedback-theme-title-value::after {transform:rotate(-180deg)}
.feedback-theme-link {float:left; margin:0 0 0 20px; background:#ee64a4 url(../images/feedback-email.svg) no-repeat center; width:54px; height:54px; border-radius:50%; transition:all 0.2s}
.feedback-theme-link:hover {background-color:#e1488f}
.feedback-theme-title ul {display:none; margin:0; padding:0; list-style:none; font-size:14px; line-height:18px; position:absolute; left:-1px; top:100%; right:-1px; background:#fff; z-index:99; border-radius:0 0 27px 27px; border:1px solid #d7d7e0}
.feedback-theme-title.open ul {display:block}
.feedback-theme-title ul li {margin:0; padding:0; border-top:1px solid #d7d7e0}
.feedback-theme-title ul li:first-child {border-top:none}
.feedback-theme-title ul li::before {display:none}
.feedback-theme-title ul li a {display:block; color:rgba(51, 51, 51, 0.87); text-decoration:none; padding:11px 30px 11px 40px; transition:all 0.2s}
.feedback-theme-title ul li a:hover {color:#ee64a4}
.feedback-theme-title ul li:last-child a {border-radius:0 0 27px 27px}

.feedback-phone {float:right; text-align:center}
.feedback-phone-title {text-transform:uppercase; color:#868692; font-size:12px; line-height:15px}
.feedback-phone-number {font:bold 32px/40px Domine, serif; padding:7px 0 0 0}
.feedback-phone-number a {color:#ee64a4; transition:all 0.2s}
.feedback-phone-number a:hover {color:#e1488f}

.feedback-form {margin:54px auto 0 auto; width:785px; border:1px solid #f3f3f5; border-radius:2px; padding:0 104px 80px 104px}

footer {padding:0 0 106px 0}

.footer-logo {float:left; width:230px; margin:71px 0 0 -36px}

.footer-menu {float:left; font-weight:500; font-size:14px; line-height:20px; text-transform:uppercase; margin:67px 0 0 223px}
.footer-menu ul {margin:0; padding:0; list-style:none}
.footer-menu ul li {margin:20px 0 0 0; padding:0}
.footer-menu ul li::before {display:none}
.footer-menu ul li:first-child {margin:0}
.footer-menu ul li:last-child {margin:40px 0 0 0}
.footer-menu ul li a {text-decoration:none}

.footer-contacts {float:left; margin:58px 0 0 109px; font-size:14px; line-height:20px; font-weight:500}
.footer-contacts a {text-decoration:none}
.footer-contacts-address {padding:6px 0 0 49px; position:relative}
.footer-contacts-address::before {content:""; display:block; position:absolute; left:0; top:0; width:32px; height:32px; background:url(../images/footer-address.svg)}
.footer-contacts-phone {padding:6px 0 0 49px; position:relative; margin:20px 0 0 0}
.footer-contacts-phone::before {content:""; display:block; position:absolute; left:0; top:0; width:32px; height:32px; background:url(../images/footer-phone.svg)}
.footer-contacts-email {padding:6px 0 0 49px; position:relative; margin:20px 0 0 0}
.footer-contacts-email::before {content:""; display:block; position:absolute; left:0; top:0; width:32px; height:32px; background:url(../images/footer-email.svg)}
.footer-contacts-vk {padding:6px 0 0 49px; position:relative; margin:20px 0 0 0}
.footer-contacts-vk::before {content:""; display:block; position:absolute; left:0; top:0; width:32px; height:32px; background:url(../images/footer-vk.svg)}

.footer-back {float:right; padding:62px 0 0 0}
.footer-back a {display:block; width:56px; height:56px; border-radius:50%; transition:all 0.2s}
.footer-back a:hover {background:#ee64a4}
.footer-back a:hover #path1_fill {transition:all 0.2s}
.footer-back a:hover #path1_fill {fill:#fff}

.footer-developer {float:right; clear:right; margin:181px 0 0 0; font-size:14px}
.footer-developer a {text-decoration:none}
.footer-developer img {margin:0 0 -2px 20px}

.window-open body {overflow:hidden}

.window {position:fixed; left:0; top:0; right:0; bottom:0; z-index:99997; overflow:auto; background:rgba(0, 0, 0, 0.25)}
.window-loading {position:absolute; left:50%; top:50%; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.window-container {position:absolute; z-index:99999; left:50%; top:50%}
.window-container-load {position:fixed; left:-9999px; top:-9999px}
.window-content {position:relative; background:#fff; border-radius:2px; box-shadow:0 4px 30px rgba(103, 103, 143, 0.35)}
.window-close {display:block; position:absolute; width:74px; height:74px; right:-74px; top:-23px; background:url(../images/window-close.svg); opacity:0.7762; transition:all 0.2s}
.window-close:hover {opacity:1}

.window-news {width:874px}
.window-news .news-detail {margin:0; border:none; width:auto}

.window-detail {width:874px}
.window-detail .catalogue-detail {margin:0; border:none; width:auto}

.window-feedback {width:785px}
.window-feedback .feedback-form {margin:0; border:none; width:auto}

.window h2:first-child {margin-top:0; padding-top:67px}